# Importing Libraries

In [37]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [38]:
# Importing dataframe
path = r'/Users/hollyringsak/01-2024 Instacart Basket Analysis'

In [39]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [40]:
# Grouping by product_name
ords_prods_merge.groupby('product_name')

In [41]:
# Getting mean of number_of_orders
ords_prods_merge.groupby('department_id').agg({'number_of_orders': ['mean']})

              number_of_orders
                          mean
department_id
1                    15.457687
2                    17.277920
3                    17.179756
4                    17.811403
5                    15.213779
6                    16.439806
7                    17.225773
8                    15.340520
9                    15.895474
10                   20.197148
11                   16.170828
12                   15.887622
13                   16.583304
14                   16.757377
15                   16.165037
16                   17.663250
17                   15.694469
18                   19.310397
19                   17.177343
20                   16.473447
21                   22.902379

In [42]:
# Mean of number_of_orders for each department is slightly different from the subset because it includes data from the entire dataframe rather than a subset. The numbers are still pretty accurate when using a subset.

In [43]:
# Getting the mean of money spent for each loyalty flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.388747
New customer      13.294370
Regular customer  12.496203

In [44]:
# Getting the min/max of money spent for each loyalty flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

In [45]:
# Making new column mean_prices to show average amount spent by each user_id
ords_prods_merge['mean_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/tmp/ipykernel_26802/3557830789.py:2: FutureWarning: The provided callable <function mean at 0x1082156c0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [46]:
ords_prods_merge.head(100)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,number_of_orders,...,days_of_week_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_prices,spending_flag,mean_prices,median_days_since_last_order,frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,...,nan,Regularly busy,Most orders,32,Regular customer,20.0,Low spender,6.935811,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,...,nan,Regularly busy,Average orders,32,Regular customer,20.0,Low spender,6.935811,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,...,nan,Busiest days,Average orders,5,New customer,18.5,Low spender,7.930208,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,...,nan,Least busy days,Most orders,3,New customer,14.0,Low spender,4.972414,9.0,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,...,nan,Least busy days,Average orders,3,New customer,14.0,Low spender,4.972414,9.0,Frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,Chocolate Sandwich Cookies,61,19,5.8,179480,602103,10831,8,...,nan,Least busy days,Most orders,10,New customer,14.5,Low spender,7.494286,23.0,Non-frequent customer
96,0,1,Chocolate Sandwich Cookies,61,19,5.8,184011,49629,11119,18,...,nan,Busiest days,Most orders,23,Regular customer,16.6,Low spender,5.878641,13.0,Regular customer
97,0,1,Chocolate Sandwich Cookies,61,19,5.8,185002,317888,11186,13,...,nan,Regularly busy,Most orders,26,Regular customer,14.6,Low spender,6.662105,6.0,Frequent customer
98,0,1,Chocolate Sandwich Cookies,61,19,5.8,186194,682486,11243,16,...,nan,Least busy days,Most orders,43,Loyal customer,14.5,Low spender,5.927149,6.0,Frequent customer
99,0,1,Chocolate Sandwich Cookies,61,19,5.8,189258,2861386,11448,10,...,nan,Regularly busy,Most orders,21,Regular customer,9.0,Low spender,5.981250,14.0,Regular customer

In [47]:
# Creating a spending flag to mark high and low spenders
ords_prods_merge.loc[ords_prods_merge['mean_prices'] >= 10, 'spending_flag'] = 'High spender'

In [48]:
ords_prods_merge.loc[ords_prods_merge['mean_prices'] < 10, 'spending_flag'] = 'Low spender'

In [49]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31798751
High spender      635461
Name: count, dtype: int64

In [50]:
# Finding median for days_since_last_order
ords_prods_merge.groupby('department_id').agg({'days_since_last_order': ['median']})

              days_since_last_order
                             median
department_id
1                               8.0
2                               7.0
3                               8.0
4                               7.0
5                               7.0
6                               8.0
7                               8.0
8                               9.0
9                               8.0
10                              7.0
11                              8.0
12                              8.0
13                              8.0
14                              8.0
15                              8.0
16                              8.0
17                              8.0
18                              7.0
19                              8.0
20                              8.0
21                              7.0

In [51]:
# Creating new column for the median of days_since_last_order
ords_prods_merge['median_days_since_last_order'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

/tmp/ipykernel_26802/2192052485.py:2: FutureWarning: The provided callable <function median at 0x10834b920> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_since_last_order'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [52]:
ords_prods_merge.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,number_of_orders,...,days_of_week_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_prices,spending_flag,mean_prices,median_days_since_last_order,frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,...,nan,Regularly busy,Most orders,32,Regular customer,20.0,Low spender,6.935811,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,...,nan,Regularly busy,Average orders,32,Regular customer,20.0,Low spender,6.935811,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,...,nan,Busiest days,Average orders,5,New customer,18.5,Low spender,7.930208,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,...,nan,Least busy days,Most orders,3,New customer,14.0,Low spender,4.972414,9.0,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,...,nan,Least busy days,Average orders,3,New customer,14.0,Low spender,4.972414,9.0,Frequent customer
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,16,...,nan,Busiest days,Average orders,26,Regular customer,14.0,Low spender,6.935398,11.0,Regular customer
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,3,...,nan,Regularly busy,Most orders,9,New customer,10.3,Low spender,5.957576,20.0,Regular customer
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,12,...,nan,Least busy days,Most orders,12,Regular customer,13.6,Low spender,6.680000,6.0,Frequent customer
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,10,...,nan,Busiest days,Average orders,20,Regular customer,13.9,Low spender,7.162500,10.0,Frequent customer
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,15,...,nan,Busiest days,Most orders,20,Regular customer,13.9,Low spender,7.162500,10.0,Frequent customer

In [53]:
# Creating frequency flag
ords_prods_merge.loc[ords_prods_merge['median_days_since_last_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [54]:
ords_prods_merge.loc[(ords_prods_merge['median_days_since_last_order'] > 10) & (ords_prods_merge['median_days_since_last_order'] <= 20), 'frequency_flag'] = 'Regular customer'

In [55]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_last_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [56]:
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21577409
Regular customer          7217134
Non-frequent customer     3639669
Name: count, dtype: int64

In [57]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))

In [58]:
ords_prods_merge.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.csv'))