# Importing Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [2]:
# Importing data
path = r'/Users/hollyringsak/01-2024 Instacart Basket Analysis'

In [3]:
cust_ords = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'cust_ords_merge.pkl'))

In [4]:
cust_ords.head()

,user_id,First Name,Surname,Gender,State,Age,date_joined,number_of_dependents,fam_status,income,...,days_of_week_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_prices,spending_flag,mean_prices,median_days_since_last_order,frequency_flag
0,14083,Irene,Holmes,Female,Connecticut,80,1/1/2017,1,married,166726,...,NaN,Regularly busy,Most orders,3,New customer,14.8,Low spender,7.339130,8.0,Frequent customer
1,119571,Matthew,Chan,Male,New York,58,1/1/2017,2,married,98633,...,NaN,Busiest days,Most orders,4,New customer,14.0,Low spender,8.123077,26.0,Non-frequent customer
2,79278,Cheryl,Underwood,Female,New Hampshire,56,1/2/2017,2,married,47966,...,NaN,Least busy days,Most orders,93,Loyal customer,15.0,Low spender,6.408088,4.0,Frequent customer
3,79278,Cheryl,Underwood,Female,New Hampshire,56,1/2/2017,2,married,47966,...,NaN,Busiest days,Most orders,93,Loyal customer,15.0,Low spender,6.408088,4.0,Frequent customer
4,79278,Cheryl,Underwood,Female,New Hampshire,56,1/2/2017,2,married,47966,...,NaN,Regularly busy,Most orders,93,Loyal customer,15.0,Low spender,6.408088,4.0,Frequent customer

# Creating Regional Segmentation of Data

In [5]:
# Grouping states by region

In [6]:
cust_ords.loc[(cust_ords['State'] == 'Maine') | (cust_ords['State'] == 'New Hampshire') | (cust_ords['State'] == 'Vermont') | (cust_ords['State'] == 'Massachussets') | (cust_ords['State'] == 'Rhode Island') | (cust_ords['State'] == 'Connecticut') | (cust_ords['State'] == 'New York') | (cust_ords['State'] == 'Pennsylvania') | (cust_ords['State'] == 'New Jersey'), 'Region'] = 'Northeast'

In [7]:
cust_ords.loc[(cust_ords['State'] == 'Wisconsin') | (cust_ords['State'] == 'Michigan') | (cust_ords['State'] == 'Illinois') | (cust_ords['State'] == 'Indiana') | (cust_ords['State'] == 'Ohio') | (cust_ords['State'] == 'North Dakota') | (cust_ords['State'] == 'South Dakota') | (cust_ords['State'] == 'Nebraska') | (cust_ords['State'] == 'Kansas') | (cust_ords['State'] == 'Minnesota') | (cust_ords['State'] == 'Missouri') | (cust_ords['State'] == 'Iowa'), 'Region'] = 'Midwest'

In [8]:
cust_ords.loc[(cust_ords['State'] == 'Delaware') | (cust_ords['State'] == 'Maryland') | (cust_ords['State'] == 'District of Columbia') | (cust_ords['State'] == 'Virginia') | (cust_ords['State'] == 'West Virginia') | (cust_ords['State'] == 'North Carolina') | (cust_ords['State'] == 'South Carolina') | (cust_ords['State'] == 'Georgia') | (cust_ords['State'] == 'Florida') | (cust_ords['State'] == 'Kentucky') | (cust_ords['State'] == 'Tennesee') | (cust_ords['State'] == 'Mississippi') | (cust_ords['State'] == 'Alabama') | (cust_ords['State'] == 'Oklahoma') | (cust_ords['State'] == 'Arkansas') | (cust_ords['State'] == 'Texas') | (cust_ords['State'] == 'Louisiana'), 'Region'] = 'South'

In [9]:
cust_ords.loc[(cust_ords['State'] == 'Montana') | (cust_ords['State'] == 'Idaho') | (cust_ords['State'] == 'Wyoming') | (cust_ords['State'] == 'Utah') | (cust_ords['State'] == 'Colorado') | (cust_ords['State'] == 'Nevada') | (cust_ords['State'] == 'Arizona') | (cust_ords['State'] == 'New Mexico') | (cust_ords['State'] == 'Alaska') | (cust_ords['State'] == 'Washington') | (cust_ords['State'] == 'Oregon') | (cust_ords['State'] == 'California') | (cust_ords['State'] == 'Hawaii'), 'Region'] = 'West'

In [10]:
cust_ords['Region'].value_counts(dropna= False)

Region
South        10183214
West          8300445
Midwest       7603810
Northeast     5081347
nan           1265396
Name: count, dtype: int64

In [11]:
cust_ords.head()

,user_id,First Name,Surname,Gender,State,Age,date_joined,number_of_dependents,fam_status,income,...,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_prices,spending_flag,mean_prices,median_days_since_last_order,frequency_flag,Region
0,14083,Irene,Holmes,Female,Connecticut,80,1/1/2017,1,married,166726,...,Regularly busy,Most orders,3,New customer,14.8,Low spender,7.339130,8.0,Frequent customer,Northeast
1,119571,Matthew,Chan,Male,New York,58,1/1/2017,2,married,98633,...,Busiest days,Most orders,4,New customer,14.0,Low spender,8.123077,26.0,Non-frequent customer,Northeast
2,79278,Cheryl,Underwood,Female,New Hampshire,56,1/2/2017,2,married,47966,...,Least busy days,Most orders,93,Loyal customer,15.0,Low spender,6.408088,4.0,Frequent customer,Northeast
3,79278,Cheryl,Underwood,Female,New Hampshire,56,1/2/2017,2,married,47966,...,Busiest days,Most orders,93,Loyal customer,15.0,Low spender,6.408088,4.0,Frequent customer,Northeast
4,79278,Cheryl,Underwood,Female,New Hampshire,56,1/2/2017,2,married,47966,...,Regularly busy,Most orders,93,Loyal customer,15.0,Low spender,6.408088,4.0,Frequent customer,Northeast

In [12]:
cust_ords[['Region', 'spending_flag']].head(60)

       Region spending_flag
0   Northeast   Low spender
1   Northeast   Low spender
2   Northeast   Low spender
3   Northeast   Low spender
4   Northeast   Low spender
5   Northeast   Low spender
6   Northeast   Low spender
7   Northeast   Low spender
8   Northeast   Low spender
9   Northeast   Low spender
10       West   Low spender
11       West   Low spender
12       West   Low spender
13       West   Low spender
14       West   Low spender
15       West   Low spender
16       West   Low spender
17  Northeast   Low spender
18  Northeast   Low spender
19  Northeast   Low spender
20  Northeast   Low spender
21  Northeast   Low spender
22  Northeast   Low spender
23  Northeast   Low spender
24      South   Low spender
25      South   Low spender
26    Midwest  High spender
27       West   Low spender
28       West   Low spender
29       West   Low spender
30       West   Low spender
31       West   Low spender
32       West   Low spender
33       West   Low spender
34       West   Low spender
35       West   Low spender
36       West   Low spender
37       West   Low spender
38       West   Low spender
39       West   Low spender
40       West   Low spender
41       West   Low spender
42       West   Low spender
43       West   Low spender
44       West   Low spender
45      South   Low spender
46      South   Low spender
47  Northeast   Low spender
48      South   Low spender
49      South   Low spender
50      South   Low spender
51      South   Low spender
52      South   Low spender
53      South   Low spender
54       West   Low spender
55       West   Low spender
56       West   Low spender
57       West   Low spender
58       West   Low spender
59       West   Low spender

In [13]:
# There doesn't seem to be a notable difference in spending habits across regions.

# Create exclusion flag for low-activity customers

In [14]:
cust_ords.columns

Index(['user_id', 'First Name', 'Surname', 'Gender', 'State', 'Age',
       'date_joined', 'number_of_dependents', 'fam_status', 'income',
       'Unnamed: 0', 'Unnamed: 0_x', 'product_id', 'product_name', 'aisle_id',
       'department_id', 'prices', 'Unnamed: 0_y', 'order_id',
       'number_of_orders', 'orders_day_of_week', 'order_hour_of_day',
       'days_since_last_order', 'add_to_cart_order', 'reordered', '_merge',
       'merge_2', 'price_range_loc', 'busiest_day', 'days_of_week_loc',
       'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'max_prices', 'spending_flag', 'mean_prices',
       'median_days_since_last_order', 'frequency_flag', 'Region'],
      dtype='object')

In [15]:
cust_ords.shape

(32434212, 40)

In [16]:
# Creating exclusion flag

In [17]:
cust_ords.loc[cust_ords['max_order'] <= 5, 'exclusion_flag'] = 'Exclude'

In [18]:
cust_ords.loc[cust_ords['max_order'] > 5, 'exclusion_flag'] = 'Safe'

In [19]:
# Checking results

In [20]:
cust_ords['exclusion_flag'].value_counts(dropna = False)

exclusion_flag
Safe       30198831
Exclude     2235381
Name: count, dtype: int64

In [21]:
# Creating a copy of the dataframe excluding the rows of data for customers with less than 5 orders

In [22]:
cust_ords_exclusion = cust_ords.drop(cust_ords[cust_ords['exclusion_flag'] == 'Exclude'].index)

In [23]:
cust_ords_exclusion.shape

(30198831, 41)

In [24]:
# Exporting new dataframe

In [25]:
cust_ords_exclusion.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'cust_ords_exclusion.pkl'))